@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*colors*/
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #D72D27;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /*transition*/
    --tran-02: all 0.2s ease ;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;

}


/*======== sidebar ======== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}


/*======== Pwede ulit gamitin ========*/
.sidebar .text{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
}


.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    height: 80px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}


.sidebar .image-text img{
    width: 50px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;

}

header .image-text .header-text{
    display: flex;
    flex-direction: column;

}

.header-text .name{
    font-weight: 800;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
    
}

.sidebar .menu{
    margin-top: 35px;
}


.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
}

.search-box input{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    background: var(--primary-color-light);
}


.sidebar li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
  color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% -50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}


.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;

}
.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.toggle-switch .switch{
    height: 22px;
    position: relative;
    border-radius: 25px;
    width: 44px;
    background: var(--toggle-color);

}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24.5px;
}

.home{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% -250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}





.text.text1{
    font-weight: 700;
    /* padding-top: 80px;
    padding-bottom: 2px; */
    color: #F6F5FF;
    
}

.text.text2{
    font-size: 15px;
    /* padding-top: 15px; */
    color: #F6F5FF;
}


/* ======== grid practice ======== */

.container {
  max-width: 1430px;
  margin-left: 15px;
  margin-right: 15px;
}

/* ====main banner==== */

.grid-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 143px);
  grid-template-rows: repeat(4, 58px);
  /* background-color: var(--primary-color); */
  background-image: url(/img/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: 
  linear-gradient(rgba(45, 44, 44, 0.295), rgba(45, 44, 44, 0.295)), /* Dark overlay */
  url(/img/Background.png) center/cover no-repeat;
  


  border-radius: 16px;

  width: 100%;
  max-width: 1430px;
  box-sizing: border-box;

}



.date{ grid-row: 1/2; grid-column: 1/3; margin-top: 15px;}
.welcome{ grid-row: 3/4; grid-column: 1/5; padding-top: 10px;}
.subhead{ grid-row: 4/5; grid-column: 1/5; padding-top: 7px;}
.hero{ grid-row: 1/5; grid-column: 8/10;}
.grid-item img { max-width: 100%; max-height: 100%; object-fit: cover;}




@media (max-width:500px){
    .hero{
        display: none;
    }
    
}





