/*palette
  #b30000
  #ED1D25
  #800000
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: url('/img/Background.png') no-repeat center center fixed;
  background-size: cover;
  color: #b30000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(to right,rgba(72, 71, 71, 0.7), rgba(72, 71, 71, 1)),
    url('img/Background.png') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}


/*container sa log-in*/
#loginContent {
  text-align: center;
  /*border: 3px solid black;*/
  padding: 45px;
  background-color: rgba(245, 245, 245, 0.781);
  /*background-color: rgba(255, 248, 248, 0.24);*/
  max-width: 450px;
  width: 100%;
  border-radius: 12px;
}
 

.userChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}


.logo {
  width: 120px;
  margin-bottom: 10px;
}

.title h1 {
  font-size: 30px;
  color: #000000;
  font-weight: 10px;
}

.title h3 {
  margin-top: 5px;
  font-size: 16px;
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  display: block;
  width: 80%;
  padding: 12px;
  margin: 7px 0;
  border: 2px solid #b30000;
  border-radius: 9px;
  background-color: #ED1D25;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.buttons a{
  text-decoration: none;
  color: white;
}


.buttons button:hover {
  background-color: white;
  color: #b30000;
}



.tab{
  width:150px;
  display:flex;
  transition:0.5s;
  background: #b30000;
  border:none;
  align-items: center;
  padding: 0px;
  text-align:center;
  line-height: 0px;
  font-size: 25px;
  font-weight: 700;
  color:white;
  cursor: pointer;
}
.tab span{
  margin:auto;
}
.selected{
  width:200px;
  border-bottom: 5px rgba(0,0,0,0.5) solid;
}
.header {
  border: 0;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  height: 50px;
  position: fixed;
  top:0;
  left: 10px;
  display: flex;
  width:calc(100% - 20px);
  border-bottom: rgba(0,0,0,0.5) 5px solid;
  background: rgba(0,0,0,0.5);
}
.tabContent{
  display:none;
}
.selectedTab{
  display:block;
}