* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* ===colors=== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #D72D27;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /*transition*/
    --tran-02: all 0.2s ease ;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}




body {
  font-family: Arial, sans-serif;
  background: url('/img/Background.png') no-repeat center center fixed;
  background-size: cover;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(to right,rgba(72, 71, 71, 0.7), rgba(72, 71, 71, 1)),
    url('img/Background.png') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}


/*container sa log-in*/
#loginContent {
  text-align: center;
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.781);
  max-width: 450px;
  width: 100%;
  border-radius: 12px;
}
 

.userChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}


.logo {
  width: 120px;
  margin-bottom: 10px;
}

.title h1 {
  font-size: 30px;
  color: #000000;
  font-weight: 10px;
}

.title h3 {
  margin-top: 5px;
  font-size: 16px;
  color: black;
}



/* ====user==== */
.form-group {
    margin-bottom: 15px;
    position: relative;
}
.input-container {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    border-radius: 12px;
    padding: 0;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
.input-container:focus-within {
    border-color: var(--primary-color);
    background: white;

}
.input-icon {
    background: var(--primary-color);
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px;
    font-size: 18px;
}
.form-input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 15px 15px 15px 0;
    font-size: 16px;
    outline: none;
    color: #333;
    margin-left: 13px;
}
.form-input::placeholder {
    color: #999;
    font-weight: 500;
}
.login-btn {
    width: 100%;
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}


.login-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}




.ri-user-fill, .ri-lock-2-fill{
    font-size: 25px;
}



.student-badge {
    background: var(--primary-color);
    color: white;
    padding: 13px 50px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
}


.tab{
  width:150px;
  display:flex;
  transition:0.5s;
  background: var(--primary-color);
  border:none;
  align-items: center;
  padding: 0px;
  text-align:center;
  line-height: 0px;
  font-size: 25px;
  font-weight: 700;
  color:white;
}
.tab span{
  margin:auto;
}
.selected{
  width:200px;
  border-bottom: 5px rgba(0,0,0,0.5) solid;
}
.header {
  border: 0;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  height: 50px;
  position: fixed;
  top:0;
  left: 10px;
  display: flex;
  width:calc(100% - 20px);
  border-bottom: rgba(0,0,0,0.5) 5px solid;
  background: rgba(0,0,0,0.5);
  margin-left: 0;
}
.tabContent{
  display:none;
}
.selectedTab{
  display:block;
}